<div class="datapp-weather-login text-center">
	<div class="login-top-area">
		<div class="login-title">RudeWeather</div>
		<div class="datapp-text">brought to you by <strong>DatApp</strong></div>
	</div>
	<div class="login-container">
		<a href="" class="btn btn-block btn-social btn-facebook" ng-click="connectFacebook()">
			<i class="fa fa-facebook-square"></i> Sign in with Facebook
		</a>
		<a href="" class="btn btn-block btn-social btn-google-plus" ng-click="connectGooglePlus()">
			<i class="fa fa-google-plus-square"></i> Sign in with Google+
		</a>
		<a href="" class="btn btn-block btn-social btn-twitter" ng-click="connectTwitter()">
			<i class="fa fa-twitter-square"></i> Sign in with Twitter
		</a>
	</div>
</div>