@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
html,
body {
  font-family: 'Open Sans', sans-serif;
  background-repeat: repeat;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  background: #fff;
  height: 100%;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  overflow: hidden !important;
  width: 100%;
  user-select: none !important;
  -webkit-user-select: none !important;
}
* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.main-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  top: 0px;
  left: 0px;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}
button {
  border: 0px solid #fff;
  background: transparent;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.datapp-weather {
  height: 100%;
  width: 100%;
}
.datapp-newDesc {
  margin-top: 50px;
}
.datapp-weather-login {
  height: 100%;
  width: 100%;
  padding: 0 35px;
  background: #b0d4e3;
  background: -moz-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0d4e3), color-stop(100%, #88bacf));
  background: -webkit-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
  background: -o-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
  background: -ms-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
  background: linear-gradient(to bottom, #b0d4e3 0%, #88bacf 100%);
}
.login-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
.login-top-area {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.login-title {
  font-size: 32px;
  color: #284453;
}
.datapp-text {
  font-weight: 200;
  font-size: 14px;
}
.time-bg {
  z-index: 0;
  height: 100%;
  width: 100%;
}
.user-info {
  padding: 5px;
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  display: inline-block;
  font-family: Helvetica, Sans-Serif;
}
.user-info img {
  width: 32px;
  height: 32px;
  border-radius: 15px;
}
.user-info div {
  margin-left: 5px;
}
.weather-location {
  padding: 5px;
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  font-family: Helvetica, Sans-Serif;
}
.weather-current-temperature {
  display: inline-block;
  float: right;
  padding: 5px;
  color: #fff;
  font-size: 42px;
  font-weight: 300;
}
.weather-condition {
  text-align: center;
}
.weather-icon {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.weather-icon .weather-img-icon {
  height: 100px;
  transition: 1s all linear;
}
.weather-description {
  color: #ff9d47;
  font-weight: 200;
  letter-spacing: 0.1px;
  padding: 5px;
}
.weather-img-icon {
  -webkit-animation-name: scalex;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: scale;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes scalex {
  0% {
    -webkit-transform: scale(0.95);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.95);
  }
}
.rude-description {
  position: absolute;
  bottom: 70px;
  border-top: 1px solid #37a6f6;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-weight: 300;
  padding: 5px;
}
.morning {
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
/* W3C */
}
.afternoon {
  background: rgba(0,0,0,0.1);
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
/* W3C */
}
.evening {
  background: rgba(0,0,0,0.25);
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
/* W3C */
}
.night {
  background: rgba(0,0,0,0.4);
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
/* W3C */
}
.rainy,
.cloudy,
.sunny,
.snowy,
.foggy,
.rainy-cloudy,
.sunny-cloudy,
.snowy-cloudy {
  background: #000;
}
