@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
html,
body {
  font-family: 'Open Sans', sans-serif;
  background-repeat: repeat;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  background: #fff;
  height: 100%;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  overflow: hidden !important;
  width: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.main-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  top: 0px;
  left: 0px;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}
button {
  border: 0px solid #fff;
  background: transparent;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.datapp-weather {
  height: 100%;
  width: 100%;
}
.time-bg {
  z-index: 0;
  height: 100%;
  width: 100%;
}
.morning,
.afternoon,
.evening,
.night {
  background: rgba(0,0,0,0.4);
}
.rainy,
.cloudy,
.sunny,
.snowy,
.foggy,
.rainy-cloudy,
.sunny-cloudy,
.snowy-cloudy {
  background: #000;
}
