<?xml version='1.0' encoding='utf-8'?>
<widget id="com.datapp.rudeweather" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RudeWeather</name>
    <description>
        DatApp - Rude Weather Channel App
    </description>
    <author email="dev@theprfitapp.com" href="http://theprfitapp.com">
        DatApp Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
